<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="LOG_DIRECTORY" value="${user.home}/.falcon9/logs/"/>
  <property name="LOG_PATTERN"
            value="%highlight(%d{HH:mm:ss.SSS} [%t] %-5level %c{36}%n   %msg%n%ex)"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>${LOG_PATTERN}</Pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIRECTORY}logs.txt</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>${LOG_PATTERN}</Pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${LOG_DIRECTORY}logs.%d{yyyy-MM-dd}.%i.txt
      </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>

  <root level="warn">
    <appender-ref ref="FILE"/>
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="org.hibernate" level="off" />
  <logger name="net.ttddyy.dsproxy" level="all" />

</configuration>