<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="LOG_PATTERN"
            value="%nopex%highlight(%d{HH:mm:ss.SSS} [%t] %-5level %c{36}%n   %msg%n%ex)"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>${LOG_PATTERN}</Pattern>
    </encoder>
  </appender>


  <root level="all">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>